* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    min-width: 118px;
    display: inline-block;
    background: #171100;
    border-radius: 24.5px;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 10px 41px;
    line-height: 1.75;
}

/* ================================================Header============================================  */
/* ------------------Nav-bar----------------------  */
header {
    background: #fffcf4;
    position: sticky;
    top: -28px;
}

header .content {
    padding: 36px 0 8px;
}

header .nav-bar {
    display: flex;
    align-items: center;
}

header .menu {
    margin-left: 491px;
}

header .menu li {
    display: inline-block;
}

header .menu li a:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

header .menu li a {
    text-decoration: none;
    color: #5f5b53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    padding: 0 21px;
    position: relative;
}

header .menu li:first-child a {
    color: #171100;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.75;
}

header .menu li:first-child a::before {
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
    bottom: 0;
}

header .nav-bar .btn {
    margin-left: auto;
}
header .nav-bar .btn:hover {
    background: gray;
}
